<form (ngSubmit)="onSubmit(transferenciaForm)" #transferenciaForm="ngForm" class="align-self-center">

	<div>
		<div class="p-input-icon-left vertical-align-top mb-4">
			<i class="pi pi-credit-card"></i>
			<input [ngModel]="transferencia.contaDestino?.numero" id="conta-destino" name="contaDestino"
				id="conta-destinatario" type="text" pInputText placeholder="Conta do destinatário" required="true"
				#contaDestino="ngModel" [minlength]="6">
			<small *ngIf="contaDestino.invalid && contaDestino.touched" class="p-error block">
				Informe uma conta válida
			</small>
			<small *ngIf="contaDestino.invalid && contaDestino.touched" class="p-error block">
				A conta deve conter 6 caracteres
			</small>
		</div>

		<div class="inline-block vertical-align-top ml-4">
			<p-calendar [ngModel]="this.transferencia.dataAgendada" [minDate]="dataMinimaAgendamento"
				name="dataAgendada" placeholder="Data da transferencia" [inputId]="'dataAgendada'"
				[readonlyInput]="true" [showIcon]="true" [required]="true" #dataAgendada="ngModel">
			</p-calendar>
			<small *ngIf="dataAgendada.invalid && dataAgendada.touched" class="p-error block">
				Informe a data em que a transferência deve ser feita
			</small>
		</div>
	</div>

	<div class="p-inputnumber-icon	 block mb-4">
		<p-inputNumber [ngModel]="this.transferencia.valor" name="valor" locale="pt-BR" currency="BRL"
			placeholder="R$ Valor da transferência" [required]="true" #valor="ngModel" mode="currency" [minFractionDigits]="2" [maxFractionDigits]="2">
		</p-inputNumber>

		<small *ngIf="valor.invalid && valor.touched" class="p-error block">
			Informe o valor
		</small>
	</div>


	<button pButton label="Enviar" class="p-button-success block" type="submit" [disabled]="transferenciaForm.invalid"></button>

	<p-confirmDialog header="Confirmar" acceptLabel="Sim" rejectLabel="Não"
		icon="pi pi-exclamation-triangle">
	</p-confirmDialog>

</form>
